
.mainContainer{
   overflow-y: hidden;
   overflow-x: hidden;
    max-width:calc(100vw); 
    width: calc(100vw);
    height:calc(100vh);
    max-height: calc(100vh);
   
}

.cl1{
background-color: #182c25;
  box-shadow: #ecfff8;
    width: 65px;
    

}
.cl2{
    background-color: #ffffff;
    
    width: calc(100vw - 85px);
   

}
.buttonClass{
    color: #3b214b;
    
}
.splitter{
    max-width: 200px;
    background-color: #f0f8ff;
}
.ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: auto;
    display: block;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;

}
.formenudiv{
    border:.5px solid rgb(11, 35, 71);
    padding: 7px;
    border-bottom-right-radius: 10px;
    background-color: #a9d9e6;

    
}
.formenudiv:hover{
    border:.5px solid rgb(11, 35, 71);
    padding: 7px;
    border-bottom-right-radius: 10px;
    background-color: #002a36;

    
}
.menuclass{
    text-decoration: none !important;
    color: #f0f8ff;  
    font-size: small;
    font-weight: 600;
    

}
.menuclass:hover {
    /*will change background-color of element on hover */
    color: white; /*will change color of text within the element on hover */
    }
.btn-text-align-start{
    text-align: start !important;
}
.tab-color{
    background-color: #f0f8ff !important;
}