.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
     /* overflow-x: hidden;  */
    width: calc(100% -220px);
    height:calc(100% -60px) ;
    padding-right: var(--bs-gutter-x,.75rem);
    padding-left: var(--bs-gutter-x,.75rem);
    margin-right: auto;
    margin-left: auto;
}

.p-datatable .p-datatable-header {
    border-radius:  15px 15px 0px 0px !important; 
    color: #dee2e6 !important;
    border: 1px solid #dee2e6;
    border-width: 1px 1px 1px 1px !important;
    padding: .3rem .3rem !important;
    font-weight: 700;
    background-color: #c5e9e6 !important;
   
    
}
.p-input-icon-left > .p-inputtext {
    padding-right: .3rem !important;
    padding-left: 2rem !important;
    padding-top: .3rem !important;
    padding-bottom: .3rem !important;
    width: inherit !important;
   
}
.p-datatable .p-datatable-thead > tr > th {
    text-align: left;
    padding: .5rem .5rem !important;
    border: 1px solid #dee2e6;
    border-width: 1px 1px 1px 1px !important;
    font-weight: 700;
    color: #343a40;
    background: #f8f9fa;
    transition: box-shadow 0.2s;
}
.p-datatable .p-datatable-tbody > tr > td {
    text-align: left;
    border: 1px solid #dee2e6;
    border-width: 1px 1px 1px 1px !important;
    padding: .5rem .5rem !important;
}
.p-datatable .p-paginator-bottom {
    border-width: 1px 1px 1px 1px !important;
    border-radius: 0px 0px 15px 15px !important; 
    background-color: #c5e9e6 !important;
    color: #dee2e6 !important;
    padding: .3px !important;

}